body {
    background-color: #F4E9C0;
    color: rgb(50, 50, 50);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
 }

 h1, h2,h3 {
 font-family: 'Noto', serif;
}

h1 {
  color: #EC504C ;
  font-weight: 100;
  font-size: 55px;
}

h2 {
  color: rgb(245, 180, 96) ;
  font-size: 26px;
}

a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

a:hover {
  color: white;
  background-color: #559E84;
}



.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 500px) {
   .container {
    width: 400px;
  }
}



.card-white {
  background-color: white;
  padding: 45px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle{
  border-radius: 50%;
}

.btn-blue{
   background-color: #95D1BC;
   color: white;
   padding: 15px 20px ;
   border-radius: 4px;
}

.list-inline{
list-style: none;
padding-left: 0px;
}
.list-inline li {
  display: inline ;
  padding: 10px ;
}

.list-inline i {
  font-size: 50px;
  color: #95D1BC;
}


#introduction p {
  margin-bottom: 45px;
}




